@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Rock+Salt');

/*font-family: 'Rock Salt', cursive;*/
/*font-family: 'Nothing You Could Do', cursive;*/

#title {
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: lightblue;
}

h1, h3 {
    text-align: center;
    line-height: 100%;
    font-family: 'Rock Salt', 'Nothing You Could Do', cursive;
}

h3 {
    font-size: 20px;
    font-family:'Nothing You Could Do';
    text-align: left;
}
h1{
    font-size: 50px;
    font-family: 'Rock Salt';
    text-align: center;
} 

#zombie {
    float: left;
    margin-left: auto;
    display: inline;
}

#cowboy {
    float: right;
    margin-right: auto;
    display: inline;
}

#summary {
    font-style: italic;
}

body {
    background-image: url("paper.png");
    background-size: 5000px;
    background-color: brown;
}

#ad {
    position: fixed;
    left: 1200px;
    top:500px;
    border: 5px solid black;
    background-color: beige;
}

.summary {
    background-color: beige;
    width: 2000px;
    border: px black;
    padding: 50px;
    margin: 25px;
   
}

.reviews {
    background-color: orange;
    width: 2000px;
    border: 5px black;
    padding: 50px;
    margin: 25px;
}