html {
     background-image: url("https://www.flickr.com/photos/playingwithpsp/4327839915/in/photostream/");
}

#zombie {
    float: left;
    
}

#cowboy {
    float: right;
}

/*#background {*/
    
/*}*/
