@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Rock+Salt');

/*font-family: 'Rock Salt', cursive;*/
/*font-family: 'Nothing You Could Do', cursive;*/

h1, h3 {
    text-align: center;
    line-height: 100%;
    font-family: 'Rock Salt', 'Nothing You Could Do', cursive;
}

h3 {
    font-size: 50px;
}
h1{
    font-size: 100px;
} 
#zombie {
    float: left;
}

#cowboy {
    float: right;
}

#summary {
    font-style: italic;
}

body {
    background-image: url("paper.png");
}